APP_ENV=local
FLASK_ENV=development

DB_HOST=
DB_PORT=4000
DB_USERNAME=
DB_PASSWORD=

DB_DATABASE=
DB_TEST_DATABASE=

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_POOL_RECYCLE=300
DB_CONNECT_TIMEOUT=10

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN=
